In [66]:
import numpy as np
from math import exp
import requests
import urllib.request
from functools import reduce
import random
import string
import urllib
import nltk
import itertools
from nltk import sent_tokenize
from nltk import word_tokenize

1. Function using only list filter lambda that can tell whether a number is a Fibonacci number or not

In [7]:
def generate_fibonacci_series(limit):
    x, y = 0, 1
    while x < limit:
        yield x
        x, y = y, x + y

def is_num_fib(num, limit):
  fib_list = [x for x in generate_fibonacci_series(limit)]
  y = list(filter(lambda x: x == num, fib_list))
  return True if y else False

print(is_num_fib(num = 4181, limit = 10000))

False

2.1. Add 2 iterables a and b such that a is even and b is odd

In [15]:
list1 = [item for item in range(10, 20)] 
list2 = [item for item in range(20, 30)]

print("list1:{}".format(list1))
print("list2:{}\n".format(list2))

def get_odd_only_even_only_list(list1, list2):
  odd_list1 = [x for x in list1 if x %2 == 1]
  even_list2 = [x for x in list2 if x %2 == 0]
  return (odd_list1, even_list2)

def add_odd_even_list(l1, l2):
  return [(a+b) for (a,b) in zip(l1, l2)]

odd, even = get_odd_only_even_only_list(list1, list2)

print("odd from list1:{}".format(odd))
print("even from list2:{}\n".format(even))

print("sum:{}".format(add_odd_even_list(odd, even)))

list1:[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
list2:[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

odd from list1:[11, 13, 15, 17, 19]
even from list2:[20, 22, 24, 26, 28]

sum:[31, 35, 39, 43, 47]

2.2. Strip every vowel from a string provided

In [24]:
def strip_vowels(word):
  vowels = "AaEeIiOoUu"
  return(list (x for x in word if x not in vowels))

print(strip_vowels("Robot"))

['R', 'b', 't']

2.3. ReLU function for a 1D array

In [30]:
def apply_relu(arr):
  return (list (max(x, 0) for x in arr))

a = np.array([-7, 0, 8, -207, 820])

print(apply_relu(a))

[0, 0, 8, 0, 820]

2.4. Sigmoid function for a 1D array

In [31]:
def apply_sigmoid(arr):
  return (list (1/(1 + np.exp(-x)) for x in arr))

a = np.array([-7, 0, 8, -207, 820])

print(apply_sigmoid(a))

[0.0009110511944006454, 0.5, 0.9996646498695336, 1.2619502849247642e-90, 1.0]

2.5. Shifts all characters in the given string by 5

In [34]:
def shift_chars(x , y):
  if x.isalpha() and x.islower() :
    return chr(((ord(x) - 97 + y) % 26) + 97)
  elif x.isalpha() and x.isupper() :
    return chr(((ord(x) - 65 + y) % 90) + 65)
  else:
    return x

str = "India vs Austrailia  "

print(list (shift_chars(x, 5) for x in str))

['N', 's', 'i', 'n', 'f', ' ', 'a', 'x', ' ', 'F', 'z', 'x', 'y', 'w', 'f', 'n', 'q', 'n', 'f', ' ', ' ']

3. A list comprehension expression that takes a ~200 word paragraph (write your own paragraph to check), and checks whether it has any of the swear words mentioned in https://github.com/RobertJGabriel/Google-profanity-words/blob/master/list.txt

In [35]:
url = 'https://raw.githubusercontent.com/RobertJGabriel/Google-profanity-words/master/list.txt'
urllib.request.urlretrieve(url, 'list.txt')

('list.txt', <http.client.HTTPMessage at 0x7f314bbf6d68>)

In [ ]:
word_list = []
with open("list.txt") as file:
  for line in file:
    stripped_line = line.strip()
    word_list.append(stripped_line)

#word_list

In [38]:
text = """ So the boy ... the boy must die?” asked Snape quite calmly.
“And Voldemort himself must do it, Severus. That is essential.”
Another long silence. Then Snape said, “I thought ... all these years ... that we were protecting him for her. For Lily.”
“We have protected him because it has been essential to teach him, to raise him, to let him try his strength,” said Dumbledore, his eyes still tight shut. “Meanwhile, the connection between them grows ever stronger, a parasitic growth: Sometimes I have thought he suspects it himself. If I know him, he will have arranged matters so that when he does set out to meet his death, it will truly mean the end of Voldemort.”
Dumbledore opened his eyes. Snape looked horrified. “You have kept him alive so that he can die at the right moment?”
“Don’t be shocked, Severus. How many men and women have you watched die?”
“Lately, only those whom I could not save,” said Snape. He stood up. “You have used me.”
“Meaning?”
“I have spied for you and lied for you, put myself in mortal danger for you. Everything was supposed to be to keep Lily Potter’s son safe. Now you tell me you have been raising him like a pig for slaughter —”
“But this is touching, Severus,” said Dumbledore seriously. “Have you grown to care for the boy, after all?”
“For HIM?” shouted Snape. “Expecto Patronum!" From the tip of his wand burst the silver doe: She landed on the office floor, bounded once across the office, and soared out of the window. Dumbledore watched her fly away, and as her silvery glow faded he turned back to Snape, and his eyes were full of tears.
“After all this time?”
“Always,” said Snape. """

In [39]:
nltk.download('punkt')
words = word_tokenize(text)
cleaned_words = []

for w in words:
    if w.isalpha():
        cleaned_words.append(w.lower())

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [48]:
#print(cleaned_words)

for w in cleaned_words:
  if w in word_list:
    print("Contains swear words")
    break
else:
  print("Given paragraph is clean")

Given paragraph is clean

4.1. Add only even numbers in a list using reduce

In [59]:
randomlist = random.sample(range(10, 200), 10)
print("\n{}".format(randomlist))

print (reduce(lambda x,y:((0,x)[x%2 == 0] + (0,y)[y%2 == 0]),randomlist))

[89, 99, 31, 75, 102, 26, 91, 49, 120, 165]
248

4.2. Biggest character in a string (printable ascii characters) using reduce

In [60]:
r_str = "asxdOP ast23GBC4ascxazASSD"

print (reduce(lambda x,y:((y,x)[x>y]),r_str))

z

4.3. Adds every 3rd number in a list using reduce

In [64]:
def add_at_position(nlist, pos):
  if pos > 0 :
    print (reduce(lambda x,y:(x+y), (ele  for id,ele in enumerate(nlist) if id%pos == pos-1)))
  elif pos == 0:
    print (reduce(lambda x,y:(x+y), nlist))
  else:
    pass

randomlist = random.sample(range(10, 200), 10)
print("\n{}".format(randomlist))

add_at_position(randomlist, 3)

[174, 130, 115, 136, 128, 58, 170, 118, 96, 43]
269

5. Expression that generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit, and A stands for Capital alphabets using randint, random.choice and list comprehensions.  
[10<<DD<<99 & 1000<<DDDD<<9999]

In [70]:
def random_plates():  
    generate_pass = "KA{}{}{}".format(random.randint(10, 99), ''.join([random.choice(string.ascii_uppercase) for n in range(2)]), random.randint(1000, 9999))
    return generate_pass

for x in range(15):
  print(random_plates())

KA60QU4737
KA67QU5461
KA14BI8706
KA92FL1274
KA27ES4414
KA72XQ6973
KA49KM5789
KA25KR1597
KA53EU8355
KA37XY6235
KA76GI5841
KA95TV9304
KA85QV2746
KA90JU3182
KA83EX4781

6. Same as previous but KA can be changed to DL, and 1000/9999 ranges can be provided

In [71]:
def city_plate(city, number):  
    #generate_pass = 'KA'#.join(str(random.randint(10, 99)))#.join([random.choice(string.ascii_uppercase) for n in range(2)]).join(str(random.randint(1000, 9999)))
    generate_pass = "{}{}{}{}".format(city,random.randint(10, 99), ''.join([random.choice(string.ascii_uppercase) for n in range(2)]), number)
    return generate_pass


for x in range(15):
  print(city_plate('DL',1234))

DL23IP1234
DL49OH1234
DL81XY1234
DL29UO1234
DL92BI1234
DL42CG1234
DL10VU1234
DL60MJ1234
DL28YG1234
DL37CW1234
DL81BF1234
DL75GU1234
DL27LR1234
DL80JW1234
DL32FR1234